<html>

<head>
	<link href="/css/fake.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="/js/fake.js"></script>
</head>

<body>
	<div id="box">
		<div id="footer">
	<div class="container">
  <h3>Login:</h3>
</div>

<form name="loginEmail" onsubmit="return validateForm();" method="post">
  
<ul>
<li>USERNAME: <input class="username" type="text" name="username">
</li>
   
<li>PASSWORD: <input class="password" type="text" name="password">
 </li>
</ul>
  
<a href="javascript: history.go(-1)">Login</a>
  
</form>
  </div>
</body>
</html>
