<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>You V.S Mark A.</title>

	<link href="/css/friendcompare.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/dropdown.css">
	<link href="/css/main.css" rel="stylesheet">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          ['Month', 'COGS 120', 'CSE 120', 'ECON 120A', 'Total'],
          ['You',  20,      30,         30,             80],
          ['Mark A.',  30,      40,        30,             100],
          ['Lastmonth Total',  50,      90,        70,             210],
        ]);

        var options = {
          title : 'You and Mark A. Focus this month',
          vAxis: {title: 'Person'},
          hAxis: {title: 'Time'},
          seriesType: 'bars',
          series: {5: {type: 'line'}}        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'You','Mark A.'],
          ['United States', 80, 0],          
          ['Canada', 0, 100],
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>

</head>
<body>
<div id="box">
		<div id="footer">
	<div class="container">
		<div class="jumbotron">
<ul>
  <li><a href="#home">My Focus</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">More</a>
    <div class="dropdown-content">
      <a href="/">My Focus</a>
      <a href="/friends">Friends</a>
      <a href="/fake">Login</a>
    </div>
  </li>
</ul>


<h4>You V.S Mark A.</h4>
<div id="myProgress">
  <div id="myBar"></div>
</div>

<br>
<button class="btn warning" onclick="move()">Battle</button>

<script>
var i = 0;
function move() {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 10;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 20) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
      }
    }
  }
}
</script>

<div id="chart_div" style="width: 300px; height: 200px;"></div>
<div id="regions_div" style="width: 300px; height: 200px;"></div>

</div>
</body>
</html>